html,body{
    margin: 0;
    padding: 0;
}

nav{
    background-color: yellow;
    height: 5vh;
    width: 100vw;
}

header{
    background-color: purple;
    height: 10vh;
    width: 100vw;
}


#sidebar{
    background-color: blue;
    height: 30vh;
    width: 33.333333vw;
    float: left;
}

main{
    background-color: green;
    height: 30vh;
    width: 66.666667vw;
    float: left;

}

#aside{
    clear: both;
    width: 100vw;
    height: 45vh;
    background-color: orange;
}

#aside1{
    width: 33.333333vw;
    background-color: brown;
    float: left;
    height: 45vh;
}


#aside2{
    width: 33.333333vw;
    background-color: sandybrown;
    float: left;
    height: 45vh;
}


#aside3{
    width: 33.333333vw;
    background-color: rosybrown;
    float: left;
    height: 45vh;
}

footer{
    background-color: cornflowerblue;
    width: 100vw;
    height: 10vh;
    clear: both;
}

/*
Most of the Tablets, Ipads (portrait)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
}
/*
Most of the Tablets, Ipads (landscape)
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/*
Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {
    
    #aside1,#aside2,#aside3{
        width: 100vw;
        
    }
    
}
/*
Most of the Smartphones Mobiles (Portrait)
*/
@media (min-width: 481px) and (max-width: 767px) and (orientation: landscape){
}


